<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Background/Big Clouds.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{448,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{448,101}}</string>
        <key>sourceSize</key>
        <string>{448,101}</string>
      </dict>
      <key>Background/BG Image.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{384,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{384,128}}</string>
        <key>sourceSize</key>
        <string>{384,128}</string>
      </dict>
      <key>Background/Water Reflect Big 01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{170,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,10}}</string>
        <key>sourceSize</key>
        <string>{170,10}</string>
      </dict>
      <key>Background/Water Reflect Big 02.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,101},{168,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{168,10}}</string>
        <key>sourceSize</key>
        <string>{170,10}</string>
      </dict>
      <key>Background/Small Cloud 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,101},{74,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,24}}</string>
        <key>sourceSize</key>
        <string>{74,24}</string>
      </dict>
      <key>Background/Small Cloud 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,101},{133,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,35}}</string>
        <key>sourceSize</key>
        <string>{133,35}</string>
      </dict>
      <key>Background/Water Reflect Big 04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{168,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{168,10}}</string>
        <key>sourceSize</key>
        <string>{170,10}</string>
      </dict>
      <key>Background/Water Reflect Big 03.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,111},{167,10}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{167,10}}</string>
        <key>sourceSize</key>
        <string>{170,10}</string>
      </dict>
      <key>Background/Water Reflect Medium 01.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,111},{53,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,3}}</string>
        <key>sourceSize</key>
        <string>{53,3}</string>
      </dict>
      <key>Background/Water Reflect Medium 02.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,125},{53,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,3}}</string>
        <key>sourceSize</key>
        <string>{53,3}</string>
      </dict>
      <key>Background/Water Reflect Medium 03.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,125},{51,3}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,0},{51,3}}</string>
        <key>sourceSize</key>
        <string>{53,3}</string>
      </dict>
      <key>Background/Water Reflect Medium 04.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,128},{51,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{51,3}}</string>
        <key>sourceSize</key>
        <string>{53,3}</string>
      </dict>
      <key>Background/Small Cloud 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,131},{140,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,39}}</string>
        <key>sourceSize</key>
        <string>{140,39}</string>
      </dict>
      <key>Background/Water Reflect Small 02.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,176},{34,3}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{34,3}}</string>
        <key>sourceSize</key>
        <string>{35,3}</string>
      </dict>
      <key>Background/Water Reflect Small 04.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,179},{34,3}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,3}}</string>
        <key>sourceSize</key>
        <string>{35,3}</string>
      </dict>
      <key>Background/Water Reflect Small 01.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,182},{33,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{33,3}}</string>
        <key>sourceSize</key>
        <string>{35,3}</string>
      </dict>
      <key>Background/Water Reflect Small 03.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,185},{33,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{33,3}}</string>
        <key>sourceSize</key>
        <string>{35,3}</string>
      </dict>
      <key>Background/Additional Sky.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,188},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Background/Additional Water.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,220},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>bgparallax.png</string>
      <key>size</key>
      <string>{832,271}</string>
      <key>textureFileName</key>
      <string>bgparallax</string>
    </dict>
  </dict>
</plist>
